@model Book

@{
    ViewData["Title"] = "Add Book";
}

<div class="container">
    <div class="pb-3">
        <h3>
            Add New Book
        </h3>
    </div>
    <form method="post" class="form-control w-50 shadow p-3">
        <div class="mb-3 fw-bold">
            <label asp-for="Code" class="p-1"></label>
            <input asp-for="Code" value="@ViewData["bookCode"]" readonly class="form-control fs-5 text-uppercase" />
        </div>
        <div class="mb-3 fw-bold">
            <label asp-for="ISBN" class="p-1"></label>
            <input asp-for="ISBN" class="form-control fs-5 text-uppercase" />
            <span asp-validation-for="ISBN" class="text-danger fw-normal"></span>
        </div>
        <div class="mb-3 fw-bold">
            <label asp-for="Title" class="p-1"></label>
            <input asp-for="Title" class="form-control fs-5 text-uppercase" />
            <span asp-validation-for="Title" class="text-danger fw-normal"></span>
        </div>
        <div class="mb-3 fw-bold">
            <label asp-for="Author" class="p-1"></label>
            <input asp-for="Author" class="form-control fs-5 text-uppercase" />
            <span asp-validation-for="Author" class="text-danger fw-normal"></span>
        </div>
        <div class="mb-3 fw-bold">
            <label asp-for="Description" class="p-1"></label>
           <textarea asp-for="Description" class="form-control fs-5 text-uppercase"></textarea>
            <span asp-validation-for="Description" class="text-danger fw-normal"></span>
        </div>
        <div class="mb-3 fw-bold">
            <label asp-for="Quantity" class="p-1"></label>
            <input asp-for="Quantity" class="form-control fs-5 text-uppercase" />
            <span asp-validation-for="Quantity" class="text-danger fw-normal"></span>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <button type="submit" class="btn btn-primary fw-bold">Add Book</button>
            <a asp-controller="Book" asp-action="Index" class="btn btn-primary fw-bold">Back To List</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
        <script>
            $('#linkBooks').addClass('active');
        </script>
    }
}
