@model Book

@{
    ViewData["Title"] = "Delete Book";
}

<div class="container">
    <div class="pb-3">
        <h3>
            Delete Book
        </h3>
    </div>
    <form method="post" class="form-control w-50 shadow p-3">
        <div class="mb-3 fw-bold">
            <label asp-for="Code" class="p-1"></label>
            <input asp-for="Code" disabled class="form-control fs-5 text-uppercase" />
        </div>
        <div class="mb-3 fw-bold">
            <label asp-for="ISBN" class="p-1"></label>
            <input asp-for="ISBN" disabled class="form-control fs-5 text-uppercase" />
        </div>
        <div class="mb-3 fw-bold">
            <label asp-for="Title" class="p-1"></label>
            <input asp-for="Title" disabled class="form-control fs-5 text-uppercase" />
        </div>
        <div class="mb-3 fw-bold">
            <label asp-for="Author" class="p-1"></label>
            <input asp-for="Author" disabled class="form-control fs-5 text-uppercase" />
        </div>
        <div class="mb-3 fw-bold">
            <label asp-for="Description" class="p-1"></label>
            <textarea asp-for="Description" class="form-control fs-5 text-uppercase"></textarea>
        </div>
        <div class="mb-3 fw-bold">
            <label asp-for="Quantity" class="p-1"></label>
            <input asp-for="Quantity" disabled class="form-control fs-5" />
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <button type="submit" class="btn btn-danger fw-bold">Delete Book</button>
            <a asp-controller="Book" asp-action="Index" class="btn btn-primary fw-bold">Back To List</a>
        </div>
    </form>
</div>

@section Scripts
{
    <script>
        $('#linkBooks').addClass('active');
    </script>
}