@model Customer

@{
    ViewData["Title"] = "Delete Customer";
}

<div class="container">
    <div class="pb-3">
        <h3>
            Delete Customer
        </h3>
    </div>
    <form method="post" class="form-control w-50 shadow p-3">
        <div class="mb-3 fw-bold">
            <label asp-for="Code" class="p-1"></label>
            <input asp-for="Code" disabled class="form-control fs-5 text-uppercase" />
        </div>
        <div class="mb-3 fw-bold">
            <label asp-for="Name" class="p-1"></label>
            <input asp-for="Name" disabled class="form-control fs-5 text-uppercase" />
        </div>
        <div class="mb-3 fw-bold">
            <label asp-for="Email" class="p-1"></label>
            <input asp-for="Email" disabled class="form-control fs-5" />
        </div>
        <div class="mb-3 fw-bold">
            <label asp-for="Address" class="p-1"></label>
            <input asp-for="Address" disabled class="form-control fs-5 text-uppercase" />
        </div>
        <div class="mb-3 fw-bold">
            <label asp-for="Phone" class="p-1"></label>
            <input asp-for="Phone" disabled class="form-control fs-5" />
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <button type="submit" class="btn btn-danger fw-bold">Delete Customer</button>
            <a asp-controller="Customer" asp-action="Index" class="btn btn-primary fw-bold">Back To List</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
        <script>
            $('#linkCustomer').addClass('active');
        </script>
    }
}


