*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #81878f;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}
.active {
    border-bottom: 2px solid black;
}
.search {
    border: none;
    outline: none;
}
.logo {
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0;
}
